.App {
  min-width: 100vw;
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
  background: #feffff;
  display: flex;
  padding: 0 40px;
  overflow-x: hidden;
}

.menuContainer {
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 15px;
  position: fixed;
  top: 0;
}

.subMenu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.MuiSvgIcon-root {
  color: #313233;
  font-size: 18px;
}

.iconContainer {
  width: 50px;
  height: 50px;
  min-width: 40px;
  border: 2px solid #757677;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40%;
  margin: 15px 0;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: 0.3s;
}

.iconContainer.black,
.iconContainer:hover {
  background: #2d2e2f;
}

.iconContainer.black .MuiSvgIcon-root,
.iconContainer:hover .MuiSvgIcon-root {
  color: #feffff;
}

.logo {
  width: 70px;
  min-width: 40px;
}

main {
  flex: 1;
  height: 100%;
  padding-top: 35px;
  margin-left: 130px;
}

.searchBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #feffff;
  border: 2px solid #757677;
  padding: 8px 15px;
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.searchBox input {
  height: 100%;
  border: none;
  outline: none;
  width: 100%;
  padding: 0px 15px;
  color: #313233;
  font-size: 18px;
  font-weight: bold;
}
.search {
  background: #000001;
  width: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.search img {
  width: 25px;
}

.mainContainer {
  flex: 1;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-auto-rows: 10px;
  margin-top: 15px;
  justify-content: center;
}

.pin {
  border-radius: 16px;
  background: #444;
  margin: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.pin .mainPic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pin.small {
  grid-row-end: span 26;
}
.pin.medium {
  grid-row-end: span 33;
}
.pin.large {
  grid-row-end: span 45;
}

.pin .content {
  width: 100%;
  height: 50px;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  bottom: -55px;
  left: 0;
  border-radius: 16px;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pin:hover .content {
  bottom: 0;
  transition: bottom 0.3s;
  padding: 0px 15px;
}

.pin:hover .content h3 {
  color: #feffff;
  font-size: 18px;
  font-weight: 500;
}

.pin .search {
  background: #fb3874;
}

@media screen and (max-width: 480px) {
  .App {
    padding: 0 20px;
  }

  .menuContainer {
    padding: 30px 0px;
    left: 15px;
    width: unset;
  }

  main {
    margin-left: 75px;
  }
}
